/* General */

* {
    margin: 0;
    padding: 0;
    font-size: inherit;
    font-weight: inherit;
    list-style: none;
    line-height: 1;
    font-family: inherit;
    -webkit-font-smoothing: antialiased;
}

input#iosFocusFix {
    position: fixed;
    opacity: 0;
    pointer-events: none;
}

a {
    display: contents;
}

:root {
    --fontSize: clamp(2rem, 2.8vw, 2.6rem);
    --thin: 300;
    --regular: 400;
    --500: 500;
    --semi-bold: 600;
    --bold: 700;
    --black: 900;

    --backgroundColor: hsl(350, 70%, 98%);
    --textColor: hsl(360, 100%, 50%);

    --backgroundColor: white;
    --textColor: black;

    --buttonBorderWidth: 1px;
    --borderWidth: 1px;
    --lineHeight: 1.3rem;
    --padding: .8rem;
}
@media (max-width: 500px) {
    :root {
        --borderWidth: 1px;
    }
}

html {
    font-family: "Inter var experimental", "Inter varl", "Suisse Intl", fantasy;
    font-weight: var(--regular);
    font-size: var(--fontSize);
    height: 100%;
    caret-color : var(--textColor);
    cursor: default;
}

body {
    height: 100%;
    background: var(--backgroundColor);
    color: var(--textColor);
    display: grid;
    grid-template-rows: 100%;
    overflow: hidden;
}
@media (min-width: 1501px) {
    body {
        grid-template-columns: 35vw 1fr;
    }
}
@media (max-width: 1500px) {
    body {
        grid-template-columns: 100% 0;
    }
    :root:not([data-vocablist-mode="none"]) body {
        grid-template-columns: 0 100%;
    }
}

/* Modifiers */

.nowrap {
    white-space: nowrap;
}

.avatar {
    background-size: contain !important;
    position: relative;
}

.avatar::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--textColor);
    z-index: 100;
    content: "";
    border-radius: 100%;
    mix-blend-mode: color;
}

.spaceBetween {
    justify-content: space-between;
}

.uppercase {
    text-transform: uppercase;
}

.noPointerEvents {
    pointer-events: none;
}

.textOverflow {
    overflow: hidden;
    text-overflow: ellipsis;
    flex-shrink: 1;
}

.dottedBorder {
    border-bottom-style: dotted;
}

.fullWidth {
    width: 100%;
    flex-shrink: 1;
}

/* Buttonbar */

header {
    display: flex;
    position: sticky;
    z-index: 943;
    overflow-x: auto;
    gap: .5rem;
    flex-shrink: 0;
    --buttonHeight: calc(var(--fontSize) * .55);
}
header:not(:hover) {
    mix-blend-mode: exclusion;
}
header:hover {
    filter: invert(1);
}
@media (min-width: 500px) {
    header {
        top: 0;
        padding: var(--padding) var(--padding) 0;
    }
}
@media (max-width: 500px) {
    header {
        bottom: 0;
        order: 1;
        padding-bottom: var(--padding);
    }
}

fieldset {
    border: none;
    display: flex;
    align-items: center;
    min-width: 0;
    flex-shrink: 0;
}

fieldset.buttonGroup {
    gap: .2rem;
}

fieldset.pill button:not(:last-of-type) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

fieldset.pill button:not(:first-of-type) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

fieldset.pill button {
    margin-left: calc(-1 * var(--buttonBorderWidth));
}

button {
    color: var(--backgroundColor);
    background: var(--textColor);
    border: var(--buttonBorderWidth) solid var(--backgroundColor);
    border-radius: 100vw;
    height: var(--buttonHeight);
    padding: 0 1.4ex;
    font-weight: var(--500);
    font-size: .7rem;
    flex-shrink: 0;
    text-transform: uppercase;
    position: relative;
    cursor: cell;
    font-feature-settings: "case" 1;
}

button:not(.noHoverState):hover, button.active, input[type="radio"]:checked + button {
    background: var(--backgroundColor);
    color: var(--textColor);
}

button.circular {
    width: var(--buttonHeight);
    padding: 0;
}

button label {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: cell;
}

 input[type="radio"] {
    display: none;
}

/* Column */

.column {
    box-sizing: border-box;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}
@media (min-width: 501px) {
    .column::-webkit-scrollbar {
        width: .4rem;
    }
    .column::-webkit-scrollbar-track {
        background: var(--backgroundColor);
    }
    .column::-webkit-scrollbar-thumb {
        background: var(--textColor);
    }
    .column::-webkit-scrollbar:hover {
        cursor: ns-resize;
    }
}
@media (max-width: 500px) {
    .column {
        gap: var(--padding);
    }
}

/* Filelist */

#fileList {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: 400;
    letter-spacing: -.05ex;
    gap: 0.2ex;
}
@media (min-width: 501px) {
    #fileList {
        padding: var(--padding);
    }
}
@media (max-width: 500px) {
    #fileList {
        justify-content: flex-end;
    }
}

#fileList li {
    position: relative;
    display: flex;
    word-break: break-word;
    gap: 0.2ex;
    text-transform: uppercase;
    font-variation-settings: "slnt" 0;
    transition: all 250ms ease;
}

#fileList li::before {
    content: attr(data-score) "®";
    white-space: pre;
    font-feature-settings: "tnum" 1, "zero" 1;
}

#fileList li:hover,
li#currentlyLoadedList {
    text-decoration: underline;
    font-variation-settings: "slnt" -10;
}

.loading {
    font-size: 4rem;
    line-height: initial;
    font-size: 4rem;
    text-align: center;
    line-height: initial;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-feature-settings: "case" 1, "ss02" 1;
}

.loading::before {
    animation: rotate 1300ms linear infinite, rotate2 1600ms linear infinite;
}

@keyframes rotate2 {
    0% {
        transform: rotate(0);
    } 100% {
        transform: rotate(360deg);
    }
}

@keyframes rotate {
    0%, 100% {
        content: var(--percentage, "†");
    }
    33% {
        content: var(--percentage, "‡");
    }
    66% {
        content: var(--percentage, "+");
    }
}

@keyframes load {
    from {
        transform: translateX(-40%);
    } to {
        transform: translateX(-60%);
    }
}

/* Vocablist */

[contenteditable="true"] {
    cursor: text;
}

#vocabList {
    flex-grow: 1;
}
@media (min-width: 501px) {
    #vocabList {
        padding: var(--padding);
    }
}
@media (max-width: 500px) {
    #vocabList .row {
        padding: calc(var(--padding) * .05) 0;
        font-size: .6rem;
    }
}

#vocabListHeader {
    position: relative;
    font-weight: var(--regular);
    padding: var(--padding) 0;
    word-break: break-word;
    padding-top: 0;
    letter-spacing: -.06ex;
    display: flex;
    align-items: center;
    font-weight: 600;
}
#vocabListHeader::after {
    content: "";
    position: absolute;
    left: 0;
    height: calc(5px * var(--progress-enabled));
    width: calc(1% * var(--progress, 0));
    background: var(--textColor);
    transition: width 250ms ease-out, height 250ms 250ms ease-out;
}
@media (min-width: 501px) {
    #vocabListHeader {
        border-bottom: var(--borderWidth) solid var(--textColor);
        font-size: 1.2em;
    }

    #vocabListHeader::after {
        bottom: 0;
    }
}
@media (max-width: 500px) {
    #vocabListHeader {
        position: sticky;
        top: 0;
        mix-blend-mode: difference;
        filter: invert(1);
        border-bottom-width: 1px;
        z-index: 9;
    }

    #vocabListHeader::after {
        top: 0;
    }
}

#vocabListHeader[contenteditable="true"] {
    border-bottom-style: dotted;
}

#vocabListHeader[contenteditable="true"]:focus {
    outline: none;
    border-bottom-style: dotted;
}

#vocabListEntries {
    display: flex;
    flex-direction: column;
}

#vocabListEntries .vocabEntryRow {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    justify-content: space-between;
}
@media (min-width: 501px) {
    #vocabListEntries .vocabEntryRow {
        gap: .5rem;
    }
}

.vocabEntry {
    box-sizing: border-box;
    position: relative;
    border-bottom: var(--borderWidth) solid var(--textColor);
    padding: calc(var(--padding) * .25) 0;
    min-height: 1.5em;
    word-break: break-word;
}
@media (max-width: 500px) {
    .vocabEntry {
        font-size: .7em;
    }
}

.vocabEntry[contenteditable="true"] {
    border-bottom-style: dotted;
}

.vocabEntry[contenteditable="true"]:focus {
    outline: none;
    border-bottom-style: dotted;
}

[data-marked-for-deletion] {
    display: none !important;
}

#vocabListEntries span[contenteditable="true"]:empty::after {
    content: "®";
}

/* VocabTestController */

[data-vocablist-mode="test"] #vocabListEntries .vocabEntryRow:not([data-test-row]) {
    display: none;
}

[data-test-row="active"] span,
[data-test-row="incorrect"] span {
    /* border-bottom-width: calc(2 * var(--borderWidth)); */
    font-weight: 600;
}

[data-test-row="incorrect"] [contenteditable]::before {
    content: attr(data-original-value);
    margin-right: .5em;
}

[data-test-row="incorrect"] [contenteditable]::after {
    content: attr(data-user-value) !important;
    text-decoration: line-through;
}

.progress {
    display: flex;
    align-items: center;
    justify-content: center;
    border: var(--borderWidth) solid var(--textColor);
    padding: 0 1em;
    border-radius: 100%;
}

.progress::before {
    content: attr(data-numr);
    font-feature-settings: "numr";
}

.progress::after {
    content: attr(data-dnom);
    font-feature-settings: "dnom";
}